.container-fluid {
  margin-top: 30px;
  margin-bottom: 30px;
}
#small {
  display: none;
}

@media (max-width: 991px) {
  #contenido {
    margin-top: 50px;
  }
  #big {
    display: none;
  }

  #small {
    display: block;
  }
}
