<app-tutor-sidebar></app-tutor-sidebar>
<h1>Listado de Matriculas</h1>
<hr />

<div class="filtros" *ngIf="arrayMatriculasOrdenadas.length > 0">
  <button class="nav-link active button primary" (click)="estado()">
    Estado
  </button>
  <button class="nav-link active button primary" (click)="recientes()">
    Recientes
  </button>
  <button class="nav-link active button primary" (click)="antiguas()">
    Antiguas
  </button>
</div>
<div *ngIf="arrayMatriculasOrdenadas.length == 0">
  <h6>No ha realizado ninguna matricula aún</h6>
  <button
    [routerLink]="['/tutor/cursos', idAlumno]"
    class="nav-link active button fit primary"
  >
    Ir a los Cursos Disponibles
  </button>
</div>
<hr />
<div class="container">
  <div
    class="card"
    *ngFor="let matricula of arrayMatriculasOrdenadas"
    class="{{ matricula.estado.toLocaleLowerCase() }}"
  >
    <div class="card-content">
      <div class="card-body">
        <h6>{{ matricula.nombre_curso }}</h6>
        <p>{{ matricula.fecha | date : "d/M/yy" }}</p>
        <p>Estado: {{ matricula.estado }}</p>
      </div>
    </div>
  </div>
</div>
