<table class="table">
  <thead>
    <tr class="table-dark">
      <th scope="col">Nombre</th>
      <th scope="col">Fecha Inicio</th>
      <th scope="col">Fecha Fin</th>
      <th scope="col">Precio</th>
      <th scope="col">Estado</th>
      <th scope="col">Editar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let curso of arrayCursosActivos">
      <td>{{ curso.nombre }}</td>
      <td>{{ curso.fecha_inicio | date : "d/M/yy" }}</td>
      <td>{{ curso.fecha_fin | date : "d/M/yy" }}</td>
      <td>{{ curso.precio | number : ".2" }}€</td>
      <td>{{ curso.estado }}</td>
      <button class="button fit primary" (click)="editarCurso(curso.id)">
        Editar
      </button>
    </tr>
  </tbody>
</table>
<a routerLink="crearCurso">
  <button
  class="button fit primary"
  Añadir un curso>Crear Nuevo Curso</button>

</a>
