<div class="row col-lg-12 d-flex justify-content-center">
  <div class="card">
    <img
      class="card-img-top"
      alt="Imagen del alumno"
      src="http://localhost:8000/fotos/{{ alumno.foto }}"
    />
    <div class="card-body">
      <h5 class="card-title">{{ alumno.nombre }} {{ alumno.apellidos }}</h5>
      <p>Asiste</p>
      <input
        type="radio"
        id="asisteSi{{ alumno.id }}"
        name="asisteSi{{ alumno.id }}"
        [(ngModel)]="asiste"
        value="si"
        [disabled]="formDes"
      />
      <label for="asisteSi{{ alumno.id }}" class="descr">Si</label>
      <input
        type="radio"
        id="asisteNo{{ alumno.id }}"
        name="asisteNo{{ alumno.id }}"
        [(ngModel)]="asiste"
        value="no"
        [disabled]="formDes"
      />
      <label for="asisteNo{{ alumno.id }}" class="descr">No</label>
      <br />
      <label for="motivo{{ alumno.id }}" class="form-label">Motivo</label>
      <textarea
        [(ngModel)]="motivo"
        class="form-control"
        id="motivo{{ alumno.id }}"
        rows="5"
        [disabled]="formDes"
      ></textarea>
      <button [disabled]="formDes" class="button primary" (click)="guardar()">
        Guardar
      </button>
    </div>
  </div>
</div>
<div class="alert alert-success custom-alert" *ngIf="showSuccess">
  {{ successMessage }}
</div>

<div class="alert alert-danger custom-alert" *ngIf="showError">
  {{ errorMessage }}
</div>
