<app-tutor-sidebar></app-tutor-sidebar>



<div class="container">
  <h1>Listado de cursos disponibles</h1>
  <hr />
  <table class="table" *ngIf="arrayCursos.length>0">
    <thead>
      <tr class="table-dark">
        <th scope="col">Nombre</th>
        <th scope="col">Fecha Inicio</th>
        <th scope="col">Fecha Fin</th>
        <th scope="col">Precio</th>
        <th scope="col">Estado</th>
        <th scope="col">Matrícula</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let curso of arrayCursos">
        <td>{{ curso.nombre }}</td>
        <td>{{ curso.fecha_inicio | date:'dd/MM/yyyy'  }}</td>
        <td>{{ curso.fecha_fin | date:'dd/MM/yyyy' }}</td>
        <td>{{ curso.precio }}</td>
        <td>{{curso.estado}}</td>
        <td>
          <button
            class="button fit primary"
            (click)="solicitarMatricula(curso.id)"
          >
            Solcitar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container" *ngIf="arrayCursos.length==0">
  <h4>No hay cursos disponibles para realizar la matrícula</h4>
  <hr />
</div>


