<section class="wrapper style3 special">
  <div class="inner">
    <h2>DATOS DE LA ESCUELA</h2>
    <ul class="features">
      <li>
        <h3>HORARIO DE CLASES</h3>
        <hr />
        <h6>Mañanas:</h6>
        <p>Martes, Jueves y Sábados De 9:30 a 13:30 horas</p>
        <h6>Tardes:</h6>
        <p>Lunes, Martes, Miércoles, Jueves y Viernes De 15:30 a 21:30 horas</p>
      </li>
      <li>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3171.8446478871265!2d-6.027923423658496!3d37.346186436731784!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd126d080203e93f%3A0xfdb3054882ad0137!2sEscuela%20Del%20Agua!5e0!3m2!1ses!2ses!4v1686078636832!5m2!1ses!2ses"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </li>
      <li>
        <h3>Contacto</h3>
        <hr />
        <p>
          <i class="bi bi-geo-alt-fill"></i> C/Marinero Sebastián Ortiz, 0,
          41120 Gelves, Sevilla
        </p>
        <p><i class="bi bi-telephone"></i> 955762851</p>
        <p><i class="bi bi-envelope"></i> info@escueladelagua.com</p>
        <i class="bi bi-link"></i
        ><a href="https://escueladelagua.com/">Web oficial</a>
      </li>
      <li>
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/tdy4hNspQYI"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </li>
    </ul>
  </div>
</section>
