<!-- Horarios -->
<div id="page-wrapper">
<section id="cta" class="wrapper style4">
    <div class="inner">
      <header>
        <h2>HORARIO DE CLASES</h2>
        <ul>
          <li>
            <p>Mañanas:</p>
            <p>Martes, Jueves y Sábados De 9:30 a 13:30 horas</p>
          </li>
  
          <li>
            <!-- <strong>Tardes:</strong><br /> -->
            <p>Tardes:</p>
            <p>Lunes, Martes, Miércoles, Jueves y Viernes De 15:30 a 21:30 horas</p>
          </li>
        </ul>
      </header>

      
      <!-- Insertar Ubicación de la empresa -->
    </div>
  </section>
</div>
