<h1>Listado de cursos que imparte</h1>
<hr />
<div class="table-responsive" *ngIf="arrayCursosActivos.length > 0">
  <table class="table">
    <thead>
      <tr class="table-dark">
        <th scope="col">Nombre</th>
        <th scope="col">Fecha Inicio</th>
        <th scope="col">Fecha Fin</th>
        <th scope="col">Hora</th>
        <th scope="col">Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let curso of arrayCursosActivos">
        <a [routerLink]="['/monitor/detalleCurso', curso.id]"
          ><td>{{ curso.nombre }}</td></a
        >
        <td>{{ curso.fecha_inicio | date : "d/M/yy" }}</td>
        <td>{{ curso.fecha_fin | date : "d/M/yy" }}</td>
        <td>{{ curso.hora }}:00h</td>
        <td>{{ curso.estado }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="arrayCursosActivos.length == 0">
  <h5>Actualmente no está impartiendo ningún curso</h5>
</div>

<div class="alert alert-danger custom-alert" *ngIf="showError">
  {{ errorMessage }}
</div>
