<h1>Listado de Monitores</h1>
<hr />
<div *ngIf="arrayMonitores.length == 0">
  <h5>No hay monitores en la BBDD</h5>
</div>
<table class="table" *ngIf="arrayMonitores.length > 0">
  <thead>
    <tr class="table-dark">
      <th scope="col">Nombre</th>
      <th scope="col">Email</th>
      <th scope="col">Telefono</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let monitor of arrayMonitores">
      <a [routerLink]="['/admin/detalleMonitor', monitor.id]"
        ><td>{{ monitor.nombre }} {{ monitor.apellidos }}</td></a
      >
      <td>{{ monitor.email }}</td>
      <td>{{ monitor.telefono }}</td>
    </tr>
  </tbody>
</table>

<a routerLink="/admin/crearMonitor">
  <button class="nav-link active button fit primary">Crear Monitor</button>
</a>
