<!-- Cursos -->
<section class="wrapper style3 special">
  <div class="inner">
    <header class="major">
      <h2>Variedad de cursos</h2>
      <p>
        Intentamos adaptarnos a las necesidades de nuestros clientes, ofreciendo
        diferentes horarios y tipos de cursos.
      </p>
    </header>
    <ul class="features">
      <li>
        <h3>Curso Escolar</h3>
        <p>
          Es la modalidad que recomendamos, para tener un proceso adecuado, en
          cuanto a la adaptación y la adquisición de habilidades y capacidades
          se refiere. Inicia a mitad de septiembre y finaliza a mitad de junio.
        </p>
      </li>
      <li>
        <h3>Curso Mensual</h3>
        <p>
          Esta modalidad es recomendada para los alumnos que no puedan asistir
          desde comienzo de curso y se quieran incorporar más adelante. Tanto la
          metodología, como los horarios de clase, serán exactamente igual a los
          de Curso Escolar. Tenga en cuenta que trabajamos con plazas limitadas,
          sujetas a disponibilidad. Así mismo, la cuantía de las mensualidades,
          son distintas a la modalidad de Curso Escolar.
        </p>
      </li>
      <li>
        <h3>Curso Intensivo de Verano</h3>
        <p>
          Idóneos para focalizarnos en objetivos específicos, bien sean de
          iniciación, de refuerzo o de perfeccionamiento. En la Escuela del
          Agua, la palabra “Intensivo” no es sinónimo inmediatez, ni presura,
          mantenemos nuestra manera de trabajar con los alumnos, particular y
          personalizada.
        </p>
      </li>

      <li>
        <h3>Uno/dos días</h3>
        <p>
          Todos los cursos se pueden seleccionar con la modalidad de uno o dos
          días a la semana, excepto los intensivos de verano. También abrimos
          los sábados por la mañana, para aquellos clientes que no pueden
          asistir entre semana.
        </p>
      </li>
    </ul>
  </div>
</section>
