a{
    text-decoration: none;
}

label{
    display: block;
}

#registrar{
    margin: 30px auto;
}

#card{
   border-radius: 1rem;
   width: 90%;
   margin: 0px auto;
}

.row{
    margin: 10px auto;
}

#modalLabel{
    color: black;
}