a {
  text-decoration: none;
}

label {
  display: block;
}
#apellidos,
#nombre {
  width: 60%;
  margin: 0px auto;
}

#registrar {
  margin: 30px auto;
}

.card {
  border-radius: 1rem;
  width: 90%;
  margin: 20px auto;
}

.row {
  margin: 10px auto;
}

#modalLabel {
  color: black;
}

#foto {
  color: white;
  width: 90%;
}

