<div *ngIf="arrayAlumnos.length == 0">
  <h1 style="color: black">Aún no ha dado de alta a ningún alumno</h1>
  <hr />
</div>

<div *ngIf="arrayAlumnos.length > 0">
  <h1 style="color: black">Seleccione un alumno</h1>
  <hr />

  <div class="container-fluid d-flex justify-content-center">
    <div class="row col-lg-12 d-flex justify-content-center">
      <div class="card" *ngFor="let alumno of arrayAlumnos">
        <a [routerLink]="['/tutor/cursos', alumno.id]">
          <img
            class="card-img-top"
            src="http://localhost:8000/fotos/{{ alumno.foto }}"
            alt="Imagen del alumno"
          />
          <div class="card-body">
            <h6 class="card-title">
              {{ alumno.nombre }} {{ alumno.apellidos }}
            </h6>
            <div></div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <br />
</div>
<div>
  <button
    [routerLink]="['/tutor/crearAlumno', id_tutor]"
    id="center"
    class="nav-link active button fit primary"
  >
    Nuevo alumno
  </button>
</div>
