
a {
  text-decoration: none;
}

#center {
  margin: 0px auto;
}
h5, h6 , p ,h4 {
    color: black;
    text-align: center;
}

.card{
    margin: 7px;
    width: 18rem
  }

  img{
    margin-top:5px;
    max-height: 150px;
    border-radius: 15%;
  }