<!-- Primera Sección -->
<div id="page-wrapper">
    <section id="banner">
      <div class="inner">
        <h2>Escuela del Agua</h2>
        <p>
          El mejor estímulo para el desarrollo de tus hijos/as.<br />
          Educación, enseñanza y diversión, en el medio acuático<br />
        </p>
      </div>
      <a href="#one" class="more scrolly">Aprende y disfruta</a>
    </section>
    <!-- One -->
    <section id="one" class="wrapper style1 special">
      <div class="inner">
        <header class="major">
          <h2>Centro de Referencia<br /></h2>
          <p>
            En Escuela del Agua, somos pioneros en Andalucía, en el mundo de las
            actividades acuáticas de educación psicomotriz y de enseñanza de
            natación, así como en diferentes programas de terapias acuáticas en
            España, con alumnos de todas las edades
          </p>
        </header>
        <ul class="icons major">
          <li>
            <span class="icon fa-gem major style1"
              ><span class="label">Lorem</span></span
            >
          </li>
          <li>
            <span class="icon fa-heart major style2"
              ><span class="label">Ipsum</span></span
            >
          </li>
          <li>
            <span class="icon solid fa-code major style3"
              ><span class="label">Dolor</span></span
            >
          </li>
        </ul>
      </div>
    </section>
    
    <!-- Información de actividad -->
    <section id="two" class="wrapper alt style2">
      <section class="spotlight">
        <div class="image">
          <img src="../../../assets/images/act_bebe.jpg" alt="" />
        </div>
        <div class="content">
          <h2>Actividades para Bebés<br /></h2>
          <p>
            A partir de los tres meses, es el momento para que los bebés comiencen a
            familiarizarse con el medio acuático. Es un programa continuo de
            adaptación y familiarización con el medio acuático, donde a través del
            juego, el bebé se relacionará y socializará, logrando progresivamente
            mayores estímulos para su desarrollo cognitivo y físico. Además de
            potenciar su percepción y equilibrio.
          </p>
        </div>
      </section>
      <section class="spotlight">
        <div class="image">
          <img src="../../../assets/images/act_ninos.jpg" alt="" />
        </div>
        <div class="content">
          <h2>Actividades Niños</h2>
          <p>
            Para los niños también es muy importante el proceso de familiarización y
            adaptación con el medio acuático. A partir de aquí, respetando su nivel
            inicial y ritmo de aprendizaje, iremos consiguiendo nuevas habilidades
            acuáticas.<br />
            Tras lograr un dominio de estas, iniciaremos el aprendizaje de los
            estilos y la potenciación de capacidades físicas, tales como fuerza,
            resistencia o flexibilidad.
          </p>
        </div>
      </section>
      <section class="spotlight">
        <div class="image">
          <img src="../../../assets/images/act_adul.jpg" alt="" />
        </div>
        <div class="content">
          <h2>Actividades para Adultos</h2>
          <p>
            La natación es uno de los deportes más completos, ya que intervienen
            casi todos los grupos musculares. Es considerada como una forma de
            ejercicio “total”, que además, conlleva muy pocos riesgos de lesiones,
            dado que el agua actúa como elemento amortiguador. Es excelente para el
            incremento de flexibilidad, potencia, fuerza, velocidad, coordinación,
            aumenta la autoestima, la autoconfianza y además es un excelente
            ejercicio para potenciar el sistema cardio-respiratorio.
          </p>
        </div>
      </section>
    </section>
    </div>
    
