h1, p{
    color: black;
    text-align: center;
}

.busqueda{
    width: 90%;
    display: flex;
    margin: 0px auto;
}
.busqueda input{
    width: 70%;
    margin-right:20px;
}

.card{
    margin: 7px;
    width: 10rem
  }