h1,
p {
  color: black;
  text-align: center;
}

.busqueda {
  width: 90%;
  display: flex;
  margin: 0px auto;
  justify-content: center;
}
.busqueda input {
  width: 70%;
  margin-right: 5px;
}

.card {
  margin: 7px;
  width: 10rem;
}
