<h1>Listado de Alumnos</h1>
<hr />
<div class="busqueda">
  <input
    [(ngModel)]="nombreAlumno"
    class="form-control mr-sm-2"
    type="search"
    aria-label="Buscar"
    (keyup)="buscar()"
  />
  <button class="btn btn-outline-info my-2 my-sm-0" (click)="buscar()">
    <i class="bi bi-search"></i>
  </button>
</div>

<div class="listado">
  <div class="container-fluid d-flex justify-content-center">
    <div class="row col-lg-12 d-flex justify-content-center">
      <div class="card" *ngFor="let alumno of arrayAlumnosFiltrada">
        <a [routerLink]="['/admin/detalleAlumno', alumno.id]">
          <img
            class="card-img-top"
            src="http://localhost:8000/fotos/{{alumno.foto}}"
            alt="Imagen del alumno"
          />
          <div class="card-body">
            <p>{{ alumno.nombre }} {{ alumno.apellidos }}</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="alert alert-danger custom-alert" *ngIf="showError">
  {{ errorMessage }}
</div>