<h1>Listado de Matriculas</h1>
<hr />
<div class="container">
  <div class="card" *ngFor="let matricula of arrayMatriculasPendientes">
    <div class="card-content">
      <div class="card-body">
        <p>{{ matricula.fecha | date : "d/M/yy" }}</p>
        <a [routerLink]="['/admin/detalleMatricula', matricula.id]"
          ><p>Gestionar</p></a>
        <p>Estado: {{ matricula.estado }}</p>
      </div>
    </div>
  </div>
</div>

<hr />
<h4>Matriculas Gestionadas</h4>
<hr />
<div class="gestionadas">
  <div *ngIf="arrayMatriculasGestionadas.length > 0">
    <div class="card" *ngFor="let matricula of arrayMatriculasGestionadas">
      <div class="card-content">
        <div class="card-body">
          <p>{{ matricula.fecha | date : "d/M/yy" }}</p>
          <a [routerLink]="['/admin/detalleMatricula', matricula.id]"
            ><p>Gestionar</p></a
          >
          <p>Estado: {{ matricula.estado }}</p>
        </div>
      </div>
    </div>
  </div>
</div>