<div class="card text-bg-dark mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img
        src="http://localhost:8000/fotos/{{ alumno.foto }}"
        class="img-fluid rounded-start"
        alt="Imagen del alumno"
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title">{{ alumno.nombre }} {{ alumno.apellidos }}</h4>

        <p class="card-text">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="16"
            fill="currentColor"
            class="bi bi-calendar"
            viewBox="0 0 16 16"
          >
            <path
              d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"
            />
          </svg>
          {{ alumno.fecha_nac }}
        </p>
        <hr />
        <p class="card-text">Datos del tutor: {{ tutor.nombre }}</p>
        <p class="card-text">Email: {{ tutor.email }}</p>
        <p class="card-text">Dirección: {{ tutor.direccion }}</p>
        <p class="card-text">Teléfono: {{ tutor.telefono }}</p>
      </div>
    </div>
  </div>
</div>
<div class="alert alert-danger custom-alert" *ngIf="showError">
  {{ errorMessage }}
</div>
